<!-- About Section -->
<section id="intro" class="content-section">
    <div class="container">
        <div class="row section-text">
         <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <p>Driver’s licenses are suspended to keep unsafe drivers off the road, but authorities also issue suspensions for failure to pay fines and fees and for non-driving related offenses. The most common reasons for suspension are not drunk or reckless driving but rather failure to pay child support, failure to appear in court or pay fines, and minor drug offenses.</p>    
<!--    </div>-->
    <!--    Img, not in container    -->
<!--
    <div class="row">
        <img src="/img/infographic_1.png" class="col-md-10 col-md-offset-1 col-xs-12"/>
    </div>
-->
    <!--  New container here -->
<!--        <div class="row section-text">-->
<!--            <div class="col-xs-10 col-md-7">-->
             <img class="sidebar-left" src="/img/tweet_121.png" />    
             <p>At least 10 million people in the United States currently have their driver’s licenses suspended, and that number could be over 20 million. The best national data available suggests that the suspension rate is about 7 percent of drivers, but that data set is old. Current rates put it well over 10 percent in some states and the number of suspensions has increased over the past decade.</p>

             <p>License suspensions trap people in cycles of poverty. They trigger additional costs on top of the fines people are already required to pay, while simultaneously limiting a person’s potential to pay those fines by <a data-toggle="tooltip" class="tweet" title="<img src='/img/tweet_118.png' />" href="#">interfering with their ability to work</a> or to seek employment. Reports estimate that three out of every four people with a suspended license continue to drive which can lead to additional fines, <a data-toggle="tooltip" class="tweet" title="<img src='/img/tweet_121.png' />" href="#">and even jail time.</a></p>

                    <img class="sidebar-right" src="/img/tweet_121.png" /><p>Laws the allow or require license suspension for non-driving related offenses and failure to pay exist in all 50 states and the District of Columbia. These policies deepen cycles of poverty, thrust people into the sticky criminal justice system, and sap public safety, court, and administrative resources.</p>
             
             <p>In March 2016 the U.S. Department of Justice wrote a letter to state and local courts warning that suspensions are often issued illegally and unconstitutionally by denying defendants their due process rights. The DOJ is encouraging reforms to “avoid suspending driver’s licenses as a debt collection tool, reserving suspension for cases in which it would increase public safety.”</p>
             
             <p>Some states have already changed their policies, but others continue to legislate new reasons for suspensions. Massachusetts’ legislature recently eliminated suspensions for most drug charges and <a data-toggle="tooltip" class="tweet" title="<img src='/img/tweet_41.png' />" href="#">California is running a short-term amnesty program</a> and considering an overhaul of suspension laws.</p>
            </div>
        </div>
    </div>
</section>