
    <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin D3 -->
    <script src="{{ "/js/d3.v3.min.js" | prepend: site.baseurl }}"></script>

     <!-- D3 Tooltip -->
    <script src="{{ "/js/d3-tip.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- ToolTipster Plugin -->
    <script src="{{ "/js/jquery.tooltipster.min.js" | prepend:site.baseurl }}"></script>


    <!-- Plugin Squaire -->
    <script src="{{ "/js/squaire.min.js" | prepend: site.baseurl }}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>

   

    

    <script>
        $(document).ready(function() {
  
    var tooltipData = {},
        tooltipMap,
        tooltipIndex = 'Suspensions';

    d3.tsv("data/suspensions_info.tsv", function(r){
        tooltipData[r.State] = r;
        delete tooltipData[r.State].State; 
        return r;
    }, function(csv) {
        tooltipMap = new Squaire(tooltipData, {
            index: tooltipIndex,
            labelStyle: "ap",
            classIndex: "landlocked",
            tooltip: {
                enabled: true,
                mode: 'toggle',
                el: "#custom-tooltip-toolbox",
                layout: tooltipLayout,
                whitelist: ["Info",],
            }
        });
    });
    
    function tooltipLayout(d) {
        var html = '<h6>'+tooltipMap.options.labels[d.box].full+'</h6>';

        tooltipMap.options.tooltip.whitelist.forEach(function(column) {
            if(d.data!==undefined && d.data.hasOwnProperty(column) && d.data[column]!==false && d.data[column]!=='') {
                var data = isNaN(d.data[column]) ? d.data[column] : parseFloat(d.data[column]).toFixed(0);
                html += '<hr /><small>' + data + '</small>';
            }
        });
        return html;
    }
});
        


        
        // Tooltip code
        $('.tweet').tooltip({
            animated: 'fade',
            placement: 'bottom',
            html: true,
            template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner large"></div></div>'
        });
        
        
        
    </script>