<!-- Part 2 -->
    <section id="part-3" class="content-section">
    <div class="row">
        <img src="http://lorempixel.com/g/1200/400/" class="col-xs-12" />
    </div>
        <div class="container">
            <div class="row section-text">
                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <h2>Solutions to License Suspension</h2>

                    <p>Because license suspensions have become so common and have such a negative impact on a person’s ability to work, many states allow suspended drivers to get conditional licenses. In some places drivers can get a license that only allows them to drive just to and from work during certain hours, or for other approved uses like picking up their children from school. In most states the driver has to submit an application in order to be eligible for a conditional license, and not everyone is given the option. Getting a conditional license also requires payment of a fee.</p>

                    <p>Reinstatement generally requires payment in full, and payment options are often limited. In many states payments can only be made by money order, or cash. When online payment is available it often requires a debit or credit card, which many low-income people don’t have. In some states there might be more options if you go to the DMV, but DMV location can be far away, they often have limited hours of operation, and it can be difficult to get there legally with a suspended license.</p>

                    <p>Most states require payment of all fines and fees in full, so even if someone is willing and able to make a few payments over time in order to pay off their fees, that is generally not an option.</p>

                    <p>Payment plans are offered in some states on some occasions, but the driver must appear in court and might need to pay for a lawyer to negotiate a payment plan.</p>

                    <p>The 2013 report issued by the AAMVA made a radical suggestion: remove all social non-conformance reasons for suspension. The AAMVA report suggests a handful of alternative enforcement methods that could replace license suspension for social non-conformance reasons including wage garnishment, exemption policies, and amnesty and other diversion programs.</p>

                    <p>While no states are currently considering removing all social non-conformance reasons for suspension, a handful of states have recently revisited their license suspension policies, and more are currently considering changes.</p>

                    <p>In March 2016 the state of Massachusetts repealed a law that automatically suspended the license of anyone charged with a drug crime, even low-level possession that had nothing to do with driving. TK DETAILS OF THIS PLAN</p>

                    <p>California’s legislature is considering a bill that would limit the reasons a license can be suspended. TK DETAILS OF THE CURRENT BILL. California also implemented an amnesty program that began in the Spring of 2015. The amnesty program allows people to create payment plans and lower the total they have to pay in order to get their license reinstated.</p>

                    <p>TK ON WHAT HAPPENED IN FLORIDA The bill that was introduced “may die because it could cut revenue to clerk of court offices” according to the Sun Sentinel.</p>

                    <p>TK Maryland just decided, as part of a large criminal justice reform bill, to no longer jail people for driving on a suspended license.</p>
                </div>
            </div>
        </div>
    </section>