<!-- Part 2 -->
    <section id="part-3" class="content-section">
    <div class="row">
        <img src="/img/flickr_road_2.jpg" class="col-xs-12" />
    </div>
        <div class="container">
            <div class="row section-text">
                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <h2>Solutions to License Suspension</h2>

                    <p>Many states allow suspended drivers to get conditional licenses, because license suspensions can have such a negative impact on a person’s ability to work. In some places drivers can get a license that only allows them to drive to and from work, or just during certain hours, or for other approved uses like picking up their children from school. In most states the driver has to submit an application in order to be eligible for a conditional license, and not everyone is given the option. Getting a conditional license also requires payment of a fee.</p>

                    <p>Reinstatement generally requires payment in full, and payment options are often limited. In many states <a data-toggle="tooltip" class="tweet" title="<img src='http://harrietrowan.github.io/driving-poverty/img/tweet_124.png' />" href="#">payments can only be made by money order, or cash</a>. When online payment is available it often requires a debit or credit card, which many low-income people don’t have. In some states there might be more options if you go to the DMV, but DMV location can be far away, they often have limited hours of operation, and it can be difficult to get there legally with a suspended license.</p>

                    <p>Most states require payment of all fines and fees in full, so even if someone is willing and able to make a few payments over time in order to pay off their fees, that is generally not an option.</p>

                    <p>Payment plans are offered in some states on some occasions, but the driver must appear in court and might need to pay for a lawyer to know that a payment plan is negotiable.</p>
                    
                    <p>As people have started to notice the unintentional negative consequences of license suspension many lawmakers and advocates are trying to change the laws around suspensions for non-driving related reasons and failure to pay or appear.</p>

                    <p>The 2013 report issued by the AAMVA made a radical suggestion: remove all social non-conformance reasons for suspension. The AAMVA report suggests a handful of alternative enforcement methods that could replace license suspension for social non-conformance reasons including wage garnishment, exemption policies, amnesty, and other diversion programs.</p>

                    <p>While no states are currently considering removing all social non-conformance reasons for suspension, a handful of states have recently revisited their license suspension policies, and more are currently considering changes.</p>

                    <p>In March 2016 the state of Massachusetts repealed a law that automatically suspended the license of anyone charged with a drug crime, even low-level possession that had nothing to do with driving. The bill also waives the $500 fee that offenders had to pay in order to get their license back.</p>

                    <p>After reports showed the extreme extent of license suspensions in California, the legislature implemented an amnesty program that began in the Spring of 2015. The amnesty program allows people to create payment plans and lower the total they have to pay in order to get their license reinstated. California’s legislature is also considering a bill that would eliminate suspensions for failure to pay or appear.</p>
                    
                    <p>In Maryland the state legislature just agreed to a large criminal justice reform bill, and part of the negotiation was to remove jail time as a penalty for driving with a suspended license.</p>

                    <p>This year Florida was very close to passing a law that would reform some of its license suspension laws but the bill died in the appropriations committee because it would have caused a dramatic cut in revenue for the clerk of court offices around the state.</p>

                    <p>Now that the DOJ has warned local courts about their debt collection and suspension policies, more states are likely to reform their laws and practices, but reform can’t come soon enough for the millions of people around the country who have suspended licenses for non-driving offenses and failure to pay.</p>
                </div>
            </div>
        </div>
    </section>